<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<!-- 请根据实际情况修改 -->
    <springProperty scope="context" name="logPath" source="log.path" defaultValue="logs/boot-zuul/"/>
	<!-- log name -->
	<springProperty scope="context" name="appname" source="spring.application.name" defaultValue="boot-zuul"/>
	
	<property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%L] - [] - %msg %n"/>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
		</encoder>
	</appender>

	<appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./logs/${appname}/%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
			 <charset>UTF-8</charset>
		</encoder>
	</appender>

    <logger name="com.boot.dao.mapper" level="DEBUG"/>
	
	<springProfile name="pro">
		<root level="info">
		    <appender-ref ref="consoleAppender" />
		    <appender-ref ref="ALL" />
		</root>
	</springProfile>
	
	<springProfile name="!pro">
		<root level="info">
		    <appender-ref ref="consoleAppender" />
		    <appender-ref ref="ALL" />
		</root>
	</springProfile>

    <!-- 异步输出 -->
    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="consoleAppender"/>
    </appender>
    <appender name="ASYNC-ALL" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="ALL"/>
    </appender>
</configuration>